.idea
.ipynb_checkpoints
__pycache__
*.json
*.log
*.yaml

src/main/python/query_builder/test.py
rds_config.py

command_install.txt

csv


# credential
config/credentials.yaml
config/logging.yaml
.Rproj.user
